# Navigation
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# File Listing
alias ll="ls -la"
alias la="ls -laF"
alias ls="ls -F"

# Command Shortcuts
alias py="python"
alias g="git"
alias s="svn"
alias j="jobs"

