# Navigation
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Directory Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Documents/Documents"

# File Listing
alias ll="ls -la"
alias la="ls -laF"
alias ls="ls -F"

# Command Shortcuts
alias py="python"
alias g="git"

# Finder
alias show_hidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide_hidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# School stuff
alias csx="ssh -XY ayiu@linux.student.cs.uwaterloo.ca"
alias cs="ssh ayiu@linux.student.cs.uwaterloo.ca"
alias sftpcs="sftp ayiu@linux.student.cs.uwaterloo.ca"
alias ece="ssh ayiu@ecelinux.uwaterloo.ca"
alias ecex="ssh -X ayiu@ecelinux.uwaterloo.ca"
alias cs458="ssh ayiu@ugster05.student.cs.uwaterloo.ca"

# Steam configs
alias steam="cd /Users/ayiu/Library/Application\ Support/Steam/SteamApps/common"

# OSX Volume Bug
alias fixaudio="sudo killall coreaudiod"
