# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

function stop_pg() {
    pg_ctl -D /usr/local/var/postgres stop -s -m fast
}

function start_pg() {
    pg_ctl -D /usr/local/var/postgres -l logfile start
}

function press_hold() {
    defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool false
}

function no_press_hold() {
    defaults write NSGlobalDomain ApplePressAndHoldEnabled -bool true
}
