[core]
    editor = /usr/bin/vim
    excludesfile = /Users/andrewyiu/.gitignore_global
    abbrev = 12

[color]
    ui = true

[alias]
    st = status
    co = checkout
    lg = log --graph
    br = branch
    d = diff
    recent = log -n 10
    pr = pull --rebase
    su = submodule update
    cm = checkout master
    sh = show --pretty="format:" --name-only
    long = rev-parse

[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
    graph = true

[log]
    abbrevCommit = true

[push]
    default = simple
